In [10]:
"""An example of how to represent a group of acquaintances in Python."""

# Your code to go here...

my_group = {
    "Jill":{
        "age":26,
        "job":"biologist",
        "relationships": {
            "Zalika":"friend",
            "John":"partner",
        }
    },
    "Zalika":{
        "age":28,
        "job":"artist",
        "relationships":{
            "Jill":"friend",
        }
    }, # type: ignore
    "John":{
        "age":27,
        "job":"writer",
        "relationships":{
            "Jill":"partner",
        }
    },
    "Nash":{
        "age":33,
        "job":"chef",
        "relationships":{
            "John":"cousin",
            "Zalika":"landlord",
        }
    }
}
print(my_group)


def add_friendship(dict, friend1, friend2, relationship):
    dict[friend1]["relationships"][friend2] = relationship

{'Jill': {'age': 26, 'job': 'biologist', 'relationships': {'Zalika': 'friend', 'John': 'partner'}}, 'Zalika': {'age': 28, 'job': 'artist', 'relationships': {'Jill': 'friend'}}, 'John': {'age': 27, 'job': 'writer', 'relationships': {'Jill': 'partner'}}, 'Nash': {'age': 33, 'job': 'chef', 'relationships': {'John': 'cousin', 'Zalika': 'landlord'}}}

In [11]:

for name in my_group:
    for relation in my_group[name]["relationships"]:
        if name in my_group[relation]["relationships"]:
            continue
        else:
            if my_group[name]["relationships"][relation] == 'cousin':    # Add a cousin
                add_friendship(my_group, relation, name, 'cousin')
                print('updated', my_group[relation]["relationships"])
            if my_group[name]["relationships"][relation] == 'landlord':  #Â Add a tenant
                add_friendship(my_group, relation, name, 'tenant')
                print('updated', my_group[relation]["relationships"])

print(my_group)

Jill Zalika
Jill John
Zalika Jill
John Jill
Not reciprocal Nash John
relationship type cousin
updated {'Jill': 'partner', 'Nash': 'cousin'}
Not reciprocal Nash Zalika
relationship type landlord
updated {'Jill': 'friend', 'Nash': 'tenant'}
{'Jill': {'age': 26, 'job': 'biologist', 'relationships': {'Zalika': 'friend', 'John': 'partner'}}, 'Zalika': {'age': 28, 'job': 'artist', 'relationships': {'Jill': 'friend', 'Nash': 'tenant'}}, 'John': {'age': 27, 'job': 'writer', 'relationships': {'Jill': 'partner', 'Nash': 'cousin'}}, 'Nash': {'age': 33, 'job': 'chef', 'relationships': {'John': 'cousin', 'Zalika': 'landlord'}}}

In [16]:
len(my_group["Jill"]["relationships"])

2

In [21]:
for variable1 in my_group:
    print(my_group[variable1]["age"])

26
28
27
33